/* Alternative function name for {function_name_orig:s} -- {function_name} */
#ifndef __APPLE__
void FC_GLOBAL({function_name:s},{FUNCTION_NAME:s})({arg_list:s}) __attribute__((alias(MTS(FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})))));
void FC_GLOBAL2({function_name:s},{FUNCTION_NAME:s})({arg_list:s}) __attribute__((alias(MTS(FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})))));
void FC_GLOBAL3({function_name:s},{FUNCTION_NAME:s})({arg_list:s}) __attribute__((alias(MTS(FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})))));
#else
void FC_GLOBAL({function_name:s},{FUNCTION_NAME:s})({arg_list:s})
{{
    FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})({call_list_void:s});
}}
void FC_GLOBAL2({function_name:s},{FUNCTION_NAME:s})({arg_list:s})
{{
    FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})({call_list_void:s});
}}
void FC_GLOBAL3({function_name:s},{FUNCTION_NAME:s})({arg_list:s})
{{
    FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})({call_list_void:s});
}}
#endif
