#ifndef __APPLE__
{return_type:s} FC_GLOBAL2({function_name:s},{FUNCTION_NAME:s})({arg_list:s}) __attribute__((alias(MTS(FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})))));
{return_type:s} FC_GLOBAL2({function_name:s},{FUNCTION_NAME:s})({arg_list:s}) __attribute__((alias(MTS(FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})))));
#else
{return_type:s} FC_GLOBAL({function_name:s},{FUNCTION_NAME:s})({arg_list:s})
{{
    return FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})({call_list_void:s});
}}
{return_type:s} FC_GLOBAL2({function_name:s},{FUNCTION_NAME:s})({arg_list:s})
{{
    return FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})({call_list_void:s});
}}
{return_type:s} FC_GLOBAL3({function_name:s},{FUNCTION_NAME:s})({arg_list:s})
{{
    return FC_GLOBAL({function_name_orig:s},{FUNCTION_NAME_ORIG:s})({call_list_void:s});
}}
#endif 

#ifdef FLEXIBLAS_HOOK_API
#ifndef __APPLE__
{return_type:s} flexiblas_real_{function_name:s}({arg_list_void:s}) __attribute__((alias("flexiblas_real_{function_name_orig:s}")));
{return_type:s} flexiblas_real_{function_name:s}_({arg_list_void:s}) __attribute__((alias("flexiblas_real_{function_name_orig:s}")));
{return_type:s} flexiblas_chain_{function_name:s}({arg_list_void:s}) __attribute__((alias("flexiblas_chain_{function_name_orig:s}")));
{return_type:s} flexiblas_chain_{function_name:s}_({arg_list_void:s}) __attribute__((alias("flexiblas_chain_{function_name_orig:s}")));

#else
{return_type:s} flexiblas_real_{function_name:s}({arg_list_void:s})
{{
    return flexiblas_real_{function_name_orig:s}({call_list_void:s});
    
}}
{return_type:s} flexiblas_real_{function_name:s}_({arg_list_void:s})
{{
    return flexiblas_real_{function_name_orig:s}({call_list_void:s});
}}

{return_type:s} flexiblas_chain_{function_name:s}({arg_list_void:s})
{{
    return flexiblas_chain_{function_name_orig:s}({call_list_void:s});
}}

{return_type:s} flexiblas_chain_{function_name:s}_({arg_list_void:s})
{{
    return flexiblas_chain_{function_name_orig:s}({call_list_void:s});
}}
#endif

#endif