void flexiblas_real_{function_name:s}_({return_type:s} *returnvalue, {arg_list_void:s});
void flexiblas_real_{function_name:s}({return_type:s} *returnvalue, {arg_list_void:s});
void flexiblas_chain_{function_name:s}_({return_type:s} *returnvalue, {arg_list_void:s});
void flexiblas_chain_{function_name:s}({return_type:s} *returnvalue, {arg_list_void:s});
