{return_type:s} flexiblas_real_{function_name:s}_({arg_list_void:s});
{return_type:s} flexiblas_real_{function_name:s}({arg_list_void:s});
{return_type:s} flexiblas_chain_{function_name:s}_({arg_list_void:s});
{return_type:s} flexiblas_chain_{function_name:s}({arg_list_void:s});
