/* Alternative function name for {function_name_orig:s} -- {function_name} */
#ifndef __APPLE__
void {function_name:s}({arg_list:s}) __attribute__((alias(MTS({function_name_orig:s}))));
#else
void {function_name:s}({arg_list:s}) 
{{
    {function_name_orig:s}({call_list:s});
}}

#endif
