void flexiblas_real_{function_name:s}_({arg_list_void:s});
void flexiblas_real_{function_name:s}({arg_list_void:s});
void flexiblas_chain_{function_name:s}_({arg_list_void:s});
void flexiblas_chain_{function_name:s}({arg_list_void:s});
