.vs
*.diff
build*
*.rej
*.swp
*.tar.gz
*.o
*octave-workspace*
*.pyc
*.oct
*.log
*.aux
*~
*.ccls*
.ipynb_checkpoints
debian/*.substvars
debian/.debhelper/*
debian/debhelper-build-stamp
debian/files
debian/libflexiblas-api-dev.debhelper.log
debian/libflexiblas-api-dev.substvars
debian/libflexiblas-api-dev/*
debian/libflexiblas-api.debhelper.log
debian/libflexiblas-api.substvars
debian/libflexiblas-api/*
debian/libflexiblas-atlas.debhelper.log
debian/libflexiblas-atlas.postinst
debian/libflexiblas-atlas.prerm
debian/libflexiblas-atlas.substvars
debian/libflexiblas-atlas/*
debian/libflexiblas-dbg.debhelper.log
debian/libflexiblas-dbg.substvars
debian/libflexiblas-dbg/*
debian/libflexiblas-dev.debhelper.log
debian/libflexiblas-dev.links
debian/libflexiblas-dev.postinst
debian/libflexiblas-dev.prerm
debian/libflexiblas-dev.substvars
debian/libflexiblas-dev/*
debian/libflexiblas-openblas.debhelper.log
debian/libflexiblas-openblas.postinst
debian/libflexiblas-openblas.prerm
debian/libflexiblas-openblas.substvars
debian/libflexiblas-openblas/*
debian/libflexiblas.debhelper.log
debian/libflexiblas.postinst
debian/libflexiblas.prerm
debian/libflexiblas.substvars
debian/libflexiblas/*
debian/libflexiblas*/*
debian/tmp/*
doc/logo/*.png
doc/logo/*.pdf
debian/libflexiblas64-dev.postinst
debian/libflexiblas64-dev.prerm
debian/libflexiblas64.postinst
debian/libflexiblas64.prerm
*.ipynb_checkpoints*
*lapack-build*
env/*
