#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
FLEXIBLAS_MAJOR_VERSION=3
FLEXIBLAS_MINOR_VERSION=0
FLEXIBLAS_PATCH_LEVEL=0

# export LD_LIBRARY_PATH:=/usr/lib/openblas-base:/usr/lib/atlas-base:$(LD_LIBRARY_PATH)
CFLAGS=-g
FFLAGS=-g
F77CFLAGS=-g

#override_dh_auto_configure:
#	dh_auto_configure -- -DCMAKE_BUILD_TYPE=RelWithDebInfo -DTESTS=OFF

override_dh_auto_configure:
	mkdir -p build-32  &&\
	cd build-32  &&\
	cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=RelWithDebInfo\
	          -DTESTS=OFF  -DSYSCONFDIR=/etc -DCBLAS=ON -DBUILD_SHARED_LIBS=ON\
		  -DCMAKE_INSTALL_LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) -DDEV=OFF -DLAPACK=ON \
		  -DIntel=OFF -DACML=OFF -DACML_MP=OFF -DEXAMPLES=OFF -DINTEGER8=OFF
	mkdir -p build-64  &&\
	cd build-64  &&\
	cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=RelWithDebInfo\
	          -DTESTS=OFF  -DSYSCONFDIR=/etc -DCBLAS=ON -DBUILD_SHARED_LIBS=ON\
		  -DCMAKE_INSTALL_LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) -DDEV=OFF -DLAPACK=ON \
		  -DIntel=OFF -DACML=OFF -DACML_MP=OFF -DEXAMPLES=OFF -DINTEGER8=ON



GENERATED_MAINTAINER_SCRIPTS := $(patsubst %.in,%,$(wildcard debian/*.postinst.in debian/*.prerm.in debian/*.links.in))
$(GENERATED_MAINTAINER_SCRIPTS): %: %.in
	sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' < $< > $@


override_dh_auto_build: $(GENERATED_MAINTAINER_SCRIPTS)
	dh_auto_build --builddirectory build-32 --parallel
	dh_auto_build --builddirectory build-64 --parallel



override_dh_auto_install:
	dh_auto_install --builddirectory build-32 --destdir debian/tmp
	dh_auto_install --builddirectory build-64 --destdir debian/tmp

override_dh_auto_clean:
	dh_auto_clean --builddirectory build-32
	dh_auto_clean --builddirectory build-64
	rm -f $(GENERATED_MAINTAINER_SCRIPTS)

%:
	dh $@
